
*{
    width:0;
    padding:0
}

 body{
margin:0;
max-width:1200px;
}

.header{
    background: url("./img/headerImage.jpg");
    background-position: 100%;
    width:100%;
    height:25vh;
    border-top:1px transparent;
    border-radius:2% 2% 0 0;
    position:absolute;
    color:white;
    font-size:24px;
    font-family:"Helvetica";
    display:flex;

}
.date{
    flex:1;
    height:100%;
    position:relative;

}
.date p {
    position: absolute;
    bottom:0;
    width:100%;
    left:5%;

}
.refresh {
    flex:1;
    position:relative;
    a{
        cursor: pointer;
        position: absolute;
        top:35%;
        right:20%;
    }
    .icon{
        font-size:45px;
    }

}
.main{
    height:50vh;
    width:100vw;
    color:black;
    position: relative;
    top:25vh;
    padding-top:5vh;
}
.container{
    width:100%;
}
.container p{
    width:100%;
}
.icon{
    font-size:25px;
}
.todo{
    cursor: pointer;
    width:50%;
    height:6vh;
    padding:0 55px;
    border:2px solid #115192;
    display:flex;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    margin: 2vh auto;
    p{
        font-size:25px;
    }
    .change{
        position:relative;
        right:20%;
    }
}

.footer{
    width:100%;
    position: absolute;
    bottom:0;
    height:20vh;
    display:flex;
    justify-content: center;
    align-items: center;
    .input{
        width:70vw;
    }
    input{
        padding:10px 25px;
        width:50vw;
        
    }
    button{
        width:10vw;
        padding:10px 0;
        border-radius:10px;
        background: rgba(249, 253, 15, 0.9);
    }
}
